body{
    background-image: url("https://i.pinimg.com/564x/c4/a4/ab/c4a4ab306a8fdd84a415e00568a7f5bf.jpg");
    background-position: center;

    
}
.error-text{
    color: red;
    display: block;
}
.fa-solid{
    cursor: pointer;
}
.form1{
    width: 50%;
    margin-left: 50%;
    transform: translateX(-30%);
}
.section1{
    height: 100%;
}
form div{
    margin-bottom: 30px;
}
form div:first-child{
    margin-top: 40px;
}
form div:nth-child(3){
    margin-bottom: 10px;
}
.inputclass{
    height: 40px;
    width: 50%;
    border-radius: 10px;
    border: none;
}
.radioclass{
    margin-left: 40px;
    font-size: 20px;
    color: rgb(61, 61, 179);
}
button{
    width: 50%;
    height: 40px;
    color: green;
    border-radius: 10px;
    border: none;
}
.usercounter{
    top: 50px;
    right: 20px;
}
.numberdiv{
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 30px;
    color: white;
    text-align: center;
}

